<app-basic-layout>

    <div class="text-center py-3">
        <h1>Hoş Geldiniz!</h1>
        <small>En İyi Fiyatlı Ürün Garantisi!</small>
    </div>

    <!-- <a routerLink="auth/login">Go To Login</a> Tekrar Yükleme Yapıyor
    <a routerLink="auth/login">Go To Login</a> -->
    <div class="row">
        <div class="col-3">
            <h3 class="text-primary">Categories</h3>
            <app-category-list-goup></app-category-list-goup>
        </div>
        <div class="col-9 ">
            <h3 class="text-success">Products</h3>
            <app-product-card-list class="d-flex flex-wrap gap-3"></app-product-card-list>
        </div>
    </div>
</app-basic-layout>